.content
  .row
    .span4
      .well
        h2 Mote_0_Bike
        p Mote-o-Bike is a bicycle-based sensing and data gathering project, intended to better map the urban environment as it is experienced by the bicyclist and pedestrian.

        h2 Recent trips
        ul.unstyled.indent
          each trip, i in trips
            if i < 3
              li
                a(href="/viewtrip/#{trip._id}") #{moment(trip.start).format('M/D h:mm a')} - #{moment(trip.end).format('M/D h:mm a')}
                p
                  span by&nbsp;
                  if firstusers[i].username
                    a(href="/user/#{firstusers[i].username}") #{firstusers[i].username}                    
                  else
                    a(href="/userid/#{firstusers[i]._id}") #{firstusers[i].mail}

        hr
        a.btn.btn-info(href="/upload") Upload your trip &raquo;
        
    .span8
      #map

link(rel="stylesheet", media="all", type="text/css", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
// [if lte IE 8]
  link(rel="stylesheet", media="all", type="text/css", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css")
link(rel="stylesheet", media"all", type="text/css", href="/stylesheets/leaflet.label.css")

script(type="text/javascript", src="/javascripts/leaflet.js")
script(type="text/javascript", src="/javascripts/leaflet_lib.js")
script(type="text/javascript", src="/javascripts/leaflet.label.js")
script(type="text/javascript", src="/javascripts/moment.min.js")

script(type="text/javascript") var trips = !{tripsjson};
script(type="text/javascript", src="/javascripts/maptrips.js")