div.content
    div.row
        each user in users
          div.span3.img-polaroid
            h2 #{user.name.first} #{user.name.last}
            a(href="/user/#{user._id}")
              if user.trips.length == 1
                h3 #{user.trips.length} trip
              else
                h3 #{user.trips.length} trips