div.content
    div.row
        div.span3
            h2 #{user.name}
            
            if editable
              form.well(action="/userid/#{user._id}", method="POST")
                label Choose a Username
                br
                input.x-large(name="username")
                br
                br
                input.btn.btn-success(type="submit", value="Save")
            
            if user.trips.length == 1
              h3 #{user.trips.length} trip
            else
              h3 #{user.trips.length} trips
            ul.unstyled.indent
                each trip in user.trips
                    li
                        a(href="/viewtrip/#{trip.id}") #{moment(trip.start).format('M/D h:mm a')} - #{moment(trip.end).format('M/D h:mm a')}
        
        div.span9#map

link(rel="stylesheet", media="all", type="text/css", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css")
// [if lte IE 8]
  link(rel="stylesheet", media="all", type="text/css", href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css")
script(type="text/javascript") var trips = !{tripsjson};
script(type="text/javascript", src="/javascripts/leaflet.js")
script(type="text/javascript", src="/javascripts/leaflet_lib.js")
script(type="text/javascript", src="/javascripts/maptrips.js")
script(type="text/javascript", src="/javascripts/userpage.js")